html {
  font-family: sans-serif;
}

body {
  background-color: #212121;
  margin: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  text-align: center;
  margin-bottom: 20px;
}

.nav-button {
  display: inline-block;
  margin: 0 10px;
  padding: 8px 20px;
  background: #e5e5e5;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.2s ease;
}

.nav-button:hover {
  background: #cfcfcf;
}

#wrapper {
  background-color: #333;
  width: 420px;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 20px #0005;
}

h1 {
  margin-top: 0;
  background-color: #161616;
  padding: 12px;
  border-radius: 8px;
  font-size: 32px;
}

p {
  font-size: 15px;
  margin: 6px 0;
}

#guess {
  font-size: 22px;
  margin-top: 10px;
  display: block;
}

#guessField {
  width: 80%;
  height: 45px;
  margin: 15px auto;
  font-size: 20px;
  text-align: center;
  border: 3px solid #666;
  border-radius: 8px;
  background: #efefef;
}

#subt {
  width: 70%;
  height: 45px;
  margin-top: 10px;
  background-color: #1e1e1e;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

#subt:hover {
  background-color: #000;
}

.prev-line {
  margin-top: 25px;
  font-size: 14px;
}

.guesses,
.lastResult {
  background-color: #555;
  padding: 6px 12px;
  border-radius: 6px;
  display: inline-block;
}

button {
  background-color: #111;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #000;
}
